.todoo-sec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}
.todoo-sec form {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.todoo-sec h1 {
  grid-column: 1/3;
  text-align: center;
}

.todoo-sec input,
.todoo-sec button,
.todoo-sec select {
  height: 35px;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0 0.5rem;
  border-radius: 10px;
}
.todoo-sec button {
  background-color: lightgray;
  cursor: pointer;
}

.lists {
  width: 100%;
  border-radius: 5px;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.lists::-webkit-scrollbar {
  width: 5px;
}
.lists::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
.head-bottom {
  width: 100%;
  padding: 5px 8px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  justify-content: space-between;
  animation: transition-data 1s ease 1 alternate;
}
.head-bottom .data-main {
  width: 100%;
}
@keyframes transition-data {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.head-bottom .data-main {
  width: 100%;
  margin: 3px 0;
  height: auto;
}
@media screen and (max-width: 680px) {
  .todoo-sec form {
    display: flex;
    flex-direction: column;
  }
  .lists {
    grid-template-columns: 1fr;
  }
}
